html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  width: 10%;
  height: 100%;
  text-align: center;
  background-color: #84ceeb;
}
.main {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #c1c8e4;
  margin-left: 10%;
  color: #8860d0;
}

.inset {
  background-color: #84ceeb;
  margin: 0 auto;
  width: 90%;
  height: 90%;
}
#cskillsText:hover,
#fskillsText:hover,
#homeText:hover {
  color: #c1c8e4;
}

#homeText {
  margin-top: -3px;
}
#cskillsText {
  margin-top: -3px;
}

#fskillsText {
  margin-top: -3px;
}

.fa-home:hover,
.fa-laptop-code:hover,
.fa-satellite:hover {
  color: #c1c8e4;
}
